html, body
{
	background-color:#f8f8f8;
	height: 98%;
	width: 98%;
}


h3 {color:black;
	height: 15%;
	user-select: none;
	text-align: center;
}


#draw-shapes {
	border: 1px solid #cccccc;
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: #fff;

}




